DirectoryIndex index.php

# Enable Apache rewrite engine
RewriteEngine on

# Set the rewrite base path
# Pass this to the run() method too, if your entry point is in a subfolder
RewriteBase /

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]